## Build results
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstats

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## User-specific files
*.rsuser

## OS generated
.DS_Store
Thumbs.db

## Winget package generation
manifests/**/*.yaml